@import "normalize.css";
body {
    margin: 0 auto;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding-left: .9375rem;
    padding-right: .9375rem;
}


/* SQUARES */

.square {
    height: 50px;
    width: 50px;
}

.red {
    background: red;
}

.yellow {
    background: yellow;
}

.green {
    background: green;
}


/* HEADER GROUP */

.header {
    background: #C4C4C4;
    border-bottom: 1px solid #000;
    padding: 50px 0;
    margin: 0 0 50px 0
}

.header__group {
    display: flex;
    justify-content: space-between;
}

.header__first-group {
    display: flex;
    flex-direction: row;
}

.header__first-group div+div {
    margin-left: 9px;
}

.header__second-group {
    display: flex;
    flex-direction: row-reverse;
}

.header__second-group div+div {
    margin-right: 9px;
}


/* SECOND LVL GROUP */

.second-lvl {
    background: #C4C4C4;
    border-bottom: 1px solid #000;
    border-top: 1px solid #000;
    padding: 50px 0;
    margin: 0 0 50px 0
}

.second-lvl__group {
    display: flex;
    justify-content: space-between;
}

.second-lvl__first-group {
    display: flex;
    flex-direction: row;
}

.second-lvl__first-group div+div {
    margin-left: 9px;
}

.second-lvl__second-group {
    display: flex;
    flex-direction: row;
}

.second-lvl__second-group div+div {
    margin-left: 9px;
}

.second-lvl__third-group {
    display: flex;
    flex-direction: row-reverse;
}

.second-lvl__third-group div+div {
    margin-right: 9px;
}


/* THIRD LVL GROUP */