body{
    margin: 50px 100px 50px 100px;
}
header{
    background: #131313;
    height: 200px;
    margin-bottom: 100px;
}
.content{
    background: #131313 ;   
    min-height: 300px;
    margin: 0 0 100px 0;
}
nav{
    background: #131313;
    height: 200px;
    margin: 0 0 50px 0;
}
footer{
    background: #131313;
    height : 200px;   
    }
}